<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsvoAkYHYDQDicgERbVNcf3HhOcSGt_AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>973545899287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.austinfoodclub.app</string>
	<key>PROJECT_ID</key>
	<string>austin-food-club-2b7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>austin-food-club-2b7b9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973545899287:ios:a2f8cad53c617151606352</string>
</dict>
</plist>